

html, body {
    background: url("../images/circles_and_roundabouts.png");
    margin: 0px;
    padding: 0px;
}


#connect {
    background: #ffffff;
    border: 1px solid #dddddd;
    padding: 0px;
    margin-top: 6px;
    height: 200px;
    text-align: center;
}

#footer {
    clear: both;
    background: #666666;
}



h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
    text-align: center;
}

h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border-bottom: 3px solid #eeeeee;
    padding: 15px;
    color: #4aaaa5;
}

h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    border-bottom: 3px solid #eeeeee;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 3%;
}

a {
    text-decoration: none;
    color: red;
}

p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px;
}

#cezar {
    width: 178px;
    margin: 10px;
}

.portfolioImage:hover {
    outline: 5px solid #4aaaa5; 
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.portfolioImage {
    width: 100%;
    height: auto;
}

#footer {
    height: 50px;
    position: sticky;
    bottom: 0px;
}

#preFooter {
    display: block;
    background: #4aaaa5;
    height: 5px;
}

h6 {
   text-align: center;
   color: #eeeeee;
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   padding-top: 13px;
   font-size: 12px;

}

.icon {
    display: inline-block;
    text-align: center;
    margin-top: 7%;
    margin-right: 1%;
    margin-left: 1%;
  }

  .icon:hover {
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
  
  #stack {
      height: 57px;
  }

  #header {
    background: #ffffff;
    width: 100%;
    margin: 0px; 
    padding: 0px;
}

  .banner {
    display: inline-block;
    width: 100%;
    height: auto;
    background: #ffffff;
    position: relative;
    margin-bottom: 10px;
}

.banner-link {
  background: #4aaaa5;
  position: absolute;
  width: 100%;
  height:50px;
  bottom: 25px;
}

.banner-link h3 {
  color: #ffffff;
  text-align: center;
  padding-left: 0px;
  margin-top: 14px;
  border-bottom: none;
}

form {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 5px;
}

input {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 15px;
    height: 25px;
}

#msg {
    height: 300px;
    vertical-align: text-top;
    width: 100%;
}

.button {
    background: #4aaaa5;
    height: 45px;
    width: 100px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
    font-size: 20px;
}

.container {
    margin-top: 10px;
}

.navbar-brand {
    font-size: 25px;
}

a:hover { 
    color: #4aaaa5; 
    text-decoration: none;
}

.col-md-6 {
    background: #ffffff;
    padding: 20px;
}

.col-md-8 {
    background: #ffffff;
}

#main {
    padding:15px;
}